<a href="https://colab.research.google.com/github/shijinbabupython/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Copy_of_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 2

In [ ]:
Name ="shijin"
Address ="Ezhoor, kannur"
Phone_no ="9878934569"
print(" Name:"+Name+"\n","Address:"+Address+"\n","Phone no:"+Phone_no)

 Name:shijin
 Address:Ezhoor, kannur
 Phone no:9878934569

Question 3

In [ ]:
 
name="shijin"
print("Your name is",name)

Your name is shijin

Question 4

In [ ]:
#area of a rectangle 
Width = float(input("Enter the width: ")) 
Height = float(input("Enter the height: ")) 
area =Width * Height
print("The area is",area, "Square units")

Enter the width: 10
Enter the height: 22.2
The area is 222.0 Square units

Question 5

In [ ]:
#area of a triangle 
Base= float(input("Enter the base: "))
Height= float(input("Enter the height: ")) 
area = .5*Base*Height
print("The area is",area, "square units")

Enter the base: 3
Enter the height: 7
The area is 10.5 square units

Question 6

In [ ]:
#area of a circle
radius = float(input("Enter the radius: ")) 
area = 3.14*radius**2
print("The area is", area, "square units")

Enter the radius: 3.9
The area is 47.7594 square units

Question 7

In [ ]:
Name = input("Enter your name: ") 
Age =input("Enter your age: ") 
print("My name is "+Name+" and my age is "+Age)

Enter your name: Shijin Babu
Enter your age: 20
My name is Shijin Babu and my age is 20

Question 8

In [ ]:
a= float(input("Enter a number: ")) 
a=a+1
print(a)

Enter a number: 13.3
14.3

Question 9

In [ ]:
Name = input("Enter your first name: ") 
print(Name)

Enter your first name: Shijin
Shijin

In [ ]:
input("Enter your first name: ")

Enter your first name: Shijin

'Shijin'